<div class="panel panel-default">
    <div class="panel-body">
        <form id="document-edit">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" class="form-control" size="120" max="120" #subject>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="msgText">Message</label>
                    <input type="text" id="msgText" name="msgText" class="form-control" size="120" mas="255" #msgText>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 btn-toolbar">
                    <button class="btn btn-success" type="button">Send</button>
                    <button class="btn btn-danger" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- I missed some code in this file, in the two buttons -->