<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading">
            <div class="col-xs-9">
                <span class="heading">Contacts</span>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-success">New Contact</button>
            </div>       
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 margin-top">
                    <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
                    <!--I think something goes in this *ngFor <a> tag ^ that I missed-->
                        <div class="pull-left">
                            <h4 class="list-group-item-heading">{{ contact?.name }}</h4>
                        </div>
                        <span class="pull-right">
                            <img [src]="contact?.imageUrl" alt="{{ contact?.name }}" class="img-responsive" *ngIf="contact?.imageUrl">
                            <!--I might've missed something in this <img> tag too. -->
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>