<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading">
            <div class="col-xs-8">
                <span class="heading">Contacts</span>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success" routerLink="new">New Contact</button>
            </div>       
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 margin-top">
                    <cms-contact-item *ngFor="let contact of contacts" [contact]="contact">
                    </cms-contact-item>
                </div>
            </div>
        </div>
    </div>
</div>